h2{
    color: #FD5F5B;
    position: relative;
    left: 52px;
    top: 39px;
}

.map__map{
    max-width: 100%;
   height: 450px;
   position: relative;
   bottom: 17px;
   right: 92px;
}
.map__plane{
    width: 30%;
    height: 100%;
    left: 615px;
    position: relative;
    bottom: 340px;
    z-index: 1;
}

.map{
    background-color: #1E1E1E;
}